<!DOCTYPE html>
<html>
<head>
    <title>DevOps Capstone</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/dashboard">Dashboard</a>
    </nav>

    <div class="container">
        <h1>🚀 DevOps Node Capstone</h1>
        <p>End-to-End CI/CD Pipeline using GitHub, Jenkins, Docker & AWS</p>
        <div class="card">
            <h3>Pipeline Flow</h3>
            <p>GitHub → Jenkins → Docker → AWS EC2 → Prometheus → Grafana</p>
        </div>
    </div>
</body>
</html>